<% content_for :head do -%>
	<%#= javascript_include_tag "ckeditor/ckeditor.js" %>
<% end -%>

<div class="field">
  <%= f.label :content %><br />
	<%= f.cktext_area :content, :toolbar => 'Easy', :width => 800, :height => 200 %>
</div>