<% content_for :head do -%>
	<%= javascript_include_tag 'ckeditor/ckeditor.js' %>
<% end -%>

<div class="field">
  <%= f.label :content %><br />
  <%= f.text_area :content, :class => "ckeditor" %>
</div>