<h1>Listing nav_menus</h1>

<% @church.nav_menus.each do |nav_menu| %>
	<div class="index_item page_index_item">
		<div class="controls">
		  <%= link_to 'Edit', edit_nav_menu_path(@church, nav_menu) %>
		  <%= link_to 'Delete', nav_menu_path(@church, nav_menu), :confirm => 'Are you sure?', :method => :delete %>
		</div>
		<%= link_to nav_menu.name, edit_nav_menu_path(@church, nav_menu) %>
	</div>
<% end %>

<div class="button new_button">
	<%= link_to 'New Navigation Menu', new_nav_menu_path(@church) %>
</div>
