<div id="<%= widget.css_id %>" class="articles_widget widget">
	<%= render 'articles/articles_panel', :articles => widget.category.find_limited_articles_by_church(@institution, nil, widget.number_to_display), :category => widget.category, :snippet_size => widget.snippet_size %>
</div>