<div class="widget" id="<%= widget.css_id %>">
	<h2><%= widget.name %></h2>
	<% @institution.events_by_date(widget.event_category, widget.number_to_display).each do |day, events| %>
		<div class='event_day'>
			<%= date_icon(day).html_safe %>
			<% events.each do |event| %>
				<div class="event_widget_event">
					<%= link_to event.title, event_path(@institution, event) %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>