<div class="pdf widget" id="<%= widget.css_id %>">
	<%#= link_to widget.link, download_pdf_path %>
	<!-- Embed PDF File -->
	<object data="/pdf/sanderstead/making_space27jan11.pdf" type="application/pdf" width="900px" height="600px">

	  <p>It appears you don't have a PDF plugin for this browser.
	  No biggie... you can <a href="myfile.pdf">click here to
	  download the PDF file.</a></p>

	</object>
</div>