<h1>Users</h1>

<% @users.each do |user| %>
	<div class="index_item page_index_item">
		<div class="controls">
		  <%= link_to 'Edit', edit_user_path(user) %>
		  <%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %>
		</div>
		<%= link_to user.name, edit_user_path(user) %>
	</div>
<% end %>

<div class="button new_button">
	<%= link_to 'New User', new_user_path %>
</div>
