<%= content_for :head do %>
	<title><%= @page.title %></title>
<% end %>

<div class="columnRight">
	<% @page.widgets_by_column('right').each do |widget| %>
		<%= render_widget(@page, 'show', widget) %>
	<% end %>
</div>

<div class="columnLeft">
	<% @page.widgets_by_column('left').each do |widget| %>
		<%= render_widget(@page, 'show', widget) %>
	<% end %>
</div>